{% extends 'base_order.html' %}
{% load static %}

{% block ext_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'axf/order/css/order_list_not_pay.css' %}">
{% endblock %}

{% block ext_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'axf/order/js/order_list_not_pay.js' %}"></script>
{% endblock %}

{% block content %}
    <div id="order_list_not_pay" class="container">

        <ol>
            {% for order in orders %}

                <li>
                    <ul class="order" orderid="{{ order.id }}">
                        <h6>订单编号:{{ order.id }}</h6>

                        {% for ordergoods in order.orderdetail_set.all %}
                            <li class="menuList">
                                <a href="#">
                                    <img src="{{ ordergoods.goods.productimg }}" alt="{{ ordergoods.goods.productlongname }}">
                                    <p>{{ ordergoods.goods.productlongname }}</p>
                                    <p class="presentPrice">{{ ordergoods.goods.price }}</p>
                                </a>


                                <section>
                                    <span>{{ ordergoods.order_goods_num }}</span>
                                </section>

                            </li>
                        {% endfor %}

                    </ul>

                </li>


            {% endfor %}

        </ol>


    </div>
{% endblock %}